.dashboard-container {
  padding: 20px;
}

.dashboard-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  height: 32px;
}

.project-list{
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 1000px;
}

.create-project-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tab-buttons-container {
  display: grid;
  grid-auto-flow: column;
  gap: 0px;
  width: 1000px;
  margin-top: 20px;
  justify-self: center;
}

.tab-button {
  padding: 10px 16px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  width: 250px;
  border: none;
}

.tab-button.active {
  /* color: #007acc; */
  font-weight: bold;
  /* border: 1px solid black; */
  width: 250px;
  /* border: 2px solid #007acc; */
  /* border-bottom: none; */
  border: none;
}

.tab-separator {
  margin-top: -1px;
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 1000px;
  display: grid;
  justify-self: center;
}

.tab-content {
  padding: 20px 0;
  font-size: 15px;
}

.dashboard-content{
  display: grid;
  width: 1350px;
  height: 1000px;
  /* border: 1px solid black; */
  border-top: 1px solid #0f172a;
  justify-self: center;
  padding-top: 20px;
}

.tab-button-Projects{
  background-color: #0077b6;
  color: white;
}
.tab-button-Epics{
  background-color: #00b4d8;
  color: white;
}
.tab-button-User{
  background-color: #90e0ef;
  color: black;
}
.tab-button-Tasks{
  background-color: #caf0f8;
  color: black;
}