.epic-details-container {
  padding: 1rem;
}

.story-card {
  background-color: #f8f8f8;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.epic-header{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

  .epic-header button{
    padding: 10px 20px;
  }
  
.story-card:hover {
  background-color: #f0f0f0;
  transform: scale(1.01);
}
