.sidebar {
    width: 200px;
    background-color: #0f172a;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
  }
  
  .sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  .sidebar a:hover {
    background-color: #1e293b;
    
    /* padding: 5px; */
    /* border-radius: 4px; */
  }
  