.backlog-container {
    padding: 20px;
  }
  
  .backlog-header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .backlog-header button{
    padding: 10px 20px;
  }
  
  .epic-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .epic-card {
    padding: 15px;
    background: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.2s;
  }
  
.epic-card:hover {
  background-color: #f0f0f0;
  transform: scale(1.01);
}
