.prev-next-container{
  width: 80px;
  /* position: absolute;
  left: 210px; */
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  z-index: 999;
}

.prev-next-container button{
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}